body {
    font-size: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background-color: blueviolet;
    color:#ffff;
}


h1 {
    
    font-size: 5rem;
}
p{
    font-size: 3rem;
}

.h1NR {
    font-size: 5rem;
    color: rgb(95, 21, 159);
}
.pNR{
    font-size: 3rem;
    color: rgb(95, 21, 159);
}

@media screen and (max-width: 64em) {
    h1 {
        font-size: 3rem;
    }
    p{
        font-size: 90%;
    }
}

@media screen and (max-width: 50em) {
    h1 {
        font-size: 2rem;
    }
    p{
        font-size: 70%;
    }
}

@media screen and (max-width: 30em) {
    h1 {
        font-size: 1rem;
    }
    p{
        font-size: 50%;
    }
}

.contenedor{
    background-color: blueviolet;
    font-size: 2rem;
    text-align: center;
    color: #ffff;
    width: 10rem;
    height: 10rem;
    padding: 5rem;
    resize: both;
    overflow: auto;
    max-width: 20rem;
    max-height: 15rem;
}

.containerRR{
    width: 100%;
    max-width: fit-content;
    resize: horizontal;
    overflow: auto;
}
 .containerRR img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
 }

 .containerNRR{
    width: 100%;
    resize: horizontal;
    overflow: auto;
}
 .containerNRR img{
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
 }


footer{
    height: 10rem;
}